:root {
    --bg-color: #E8F5E9;
    --highlight-color: #FF9E58;
    --contrast-color: #B1CFCD;
    --hover-event-color: #183D5A;
}

html {
    box-sizing: border-box; /* Hack para el Box Model */
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    background-color: var(--bg-color);

    background-image: url("../assets/background-transparent.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 40%;

    font-family: "Fira Sans Condensed";
    
}

@font-face {
    font-family: 'Gorilaz-font';
    src: url('./fonts/gorillaz_1.ttf') format('truetype');
}

body#index {
    text-align: justify;
    max-width: 50%;
}

.centrar-texto {
    text-align: center;
}

#gorillaz-group {
    max-width: 100%;
}

.nav-contenedor {
    margin: 20px;
}

.navegacion {
    text-decoration: none;
    background-color: var(--contrast-color);
    color: var(--hover-event-color);
    padding: 10px;
    border-radius: 4px;
	margin-bottom: 10px;
}

.navegacion:hover {
    text-decoration: none;
    background-color: var(--highlight-color);
    color: var(--hover-event-color);
    padding: 10px;
    border-radius: 0px;
	
}

.fuente-gorillaz {
    font-family: 'Gorilaz-font';
    font-size: 100px;
}

/* ==== discografia.html ==== */

div.contenedor {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

@media (max-width: 470px) {
    div.contenedor {
        display: inline;
    }
}

.tarjetas {
    margin-top: 30px;
    background-color: var(--contrast-color);
    padding: 1px 15px;
    max-width: 300px;
}

.caratula {
    display: block;
    margin: 0 auto;
    width: 250px;
}

/* ==== ayuda.html ==== */
form {
    max-width: 600px;
    margin: 40px 70px;
    padding: 10px;
    background-color: var(--contrast-color);
}
div.campos {
    text-align: left;
    margin-bottom: 10px;
}

div.campos input{
    width: 100%;
}

div.campos textarea#mensaje {
    height: 200px;
    width: 100%;
}

div.boton-enviar {
    text-align: right;
}
input#boton-enviar {
    width: 100px;
}